.css-13cymwt-control {
    min-height: 44px !important;
}

.css-16xfy0z-control {
    min-height: 44px !important;
}

.css-t3ipsp-control {
    min-height: 44px !important;
}

.product-img-footer {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.product-img-footer .input-label {
    color: #1f2937;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.product-img-footer .input-inner {
    border-radius: 8px;
    border: 1px solid #e7eaef;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.product-img-footer .input-inner .text {
    color: var(--Gray-600, #475467);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    border-right: 1px solid #e7eaef;
    padding: 0.5rem 0.75rem;
}

.product-img-footer .input-inner .input {
    padding: 0.5rem 0.75rem;
    background: transparent;
    width: 100%;
}

.product-img-footer .input-inner .input-icon {
    padding-right: 0.75rem;
}

.product-img-footer .input-inner .input-icon svg {
    width: 1.25rem;
    height: 1.25rem;
}

.product-img-body .product-thumbnail {
    width: 240px;
    height: 130px;
    border-radius: 0.875rem;
}

.show_disable_button {
    opacity: 0.5;
    cursor: not-allowed;
}

.add-product-img {
    border-radius: 14px;
    border: 1.37px dashed var(--Primary-700, #0f766d);
    background: rgba(240, 253, 252, 0.3);
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-image-section .product-img-body .uplod-img {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.product-image-section .product-img-body .uplod-img .product-img {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 0.875rem;
}

.product-image-section .product-img-body .uplod-img .product-img .img-close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
}

.product-image-section .product-img-body .uplod-img .product-img .img-close-btn svg {
    width: 1.875rem;
    height: 1.875rem;
}

.product-image-section .product-img-body .uplod-img .add-product-img-inner .add-product-img {
    border-radius: 14px;
    border: 1.37px dashed var(--Primary-700, #0f766d);
    background: rgba(240, 253, 252, 0.3);
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-image-section .product-img-body .uplod-img .add-product-img-inner .add-product-img .add-product-img-input {
    display: none;
}

.product-image-section .product-img-body .uplod-img .add-product-img-inner .add-product-img svg {
    width: 1.875rem;
    height: 1.875rem;
}

.order-management-body-inner .thead-light th {
    z-index: 0 !important;
}