@use "../global" as *;
@use "../partials" as *;

.body {
  overflow: hidden;
}

.main-body {
  overflow-y: scroll;
  background-color: $white;
}

.sidebar {
  width: size(311);
  padding: 0 16px;
  border-radius: 0;
  background: $white;
  min-height: 100vh;
  border-right: size(1) solid #e5e7eb;
  overflow-y: scroll;
  overflow: visible !important;
  overflow-y: hidden;

  .sidebar-button {
    position: absolute;
    top: size(50);
    right: size(-28);
    z-index: 200;
  }

  .brand-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 4rem;
    display: flex;
    align-items: center;
    background: $white;
    padding: size(32) 0 size(24) 0;
    position: sticky;
    top: 0;
    z-index: 100;

    .mini-logo {
      display: none;
    }

    .full-logo {
      display: block;
    }
  }

  .submenu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-left: 0;

    .submenu-link {
      padding: 0.5rem 0.75rem;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      padding-left: 48px;

      .icon {
        width: 1.125rem;
        height: 1.125rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          path {
            stroke: #141b34;
          }
        }
      }

      .text {
        color: #344054;
        font-family: $primaryFont;
        font-size: size(16);
        font-weight: 600;
        line-height: size(24);
      }

      &:hover {
        &:not(.active) {
          background-color: #f9fafb;
          // .icon {
          //   svg {
          //     path {
          //       stroke: #ff645a;
          //     }
          //   }
          // }

          // .text {
          //   color: #ff645a;
          // }
        }
      }
    }

    .submenu-link.active {
      background-color: #f9fafb;
      // .icon {
      //   svg {
      //     path {
      //       stroke: #ff645a;
      //     }
      //   }
      // }

      // .text {
      //   color: #ff645a;
      // }
    }
  }

  .m-link {
    .linktitle {
      color: #141b34;
    }
  }

  .sub-menu {
    .ms-link {
      color: #141b34;
    }
  }

  .menu-list {
    // overflow-y: scroll;
    // height: 62vh;

    .search-input {
      display: flex;
      gap: size(8);
      border: 1px solid #e5e7eb;
      padding: size(10) size(14);
      @include radius(8);

      svg {
        height: size(20);
        width: size(20);
        flex-shrink: 0;
      }

      input {
        width: 100%;
      }
    }

    .menu-list-link {
      background: $white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: size(8) size(12);
      height: 3.125rem;
      transition: all 500ms ease;

      color: #344054;
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;

      &:not(.collapsed) {
        .arrowicon {
          transform: rotateX(180deg);
        }
      }

      &:hover {
        &:not(.active) {
          background: #f0fdfc;

          .linktitle {
            color: #0d9488;
          }

          .icon {
            svg {
              path {
                fill: #0d9488;
              }
            }
          }

          .arrowicon {
            svg {
              path {
                stroke: #0d9488;
              }
            }
          }
        }
      }

      .icontitle {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        // .icon {
        //   svg {
        //     path {
        //       stroke: #141b34;
        //     }
        //   }
        // }
      }

      .arrowicon {
        svg {
          path {
            stroke: #141b34;
          }
        }
      }
    }

    .menu-list-link.active {
      background: #f0fdfc;

      .linktitle {
        color: #0d9488;
      }

      .icon {
        svg {
          path {
            fill: #0d9488;
          }
        }
      }

      .arrowicon {
        svg {
          path {
            stroke: #0d9488;
          }
        }
      }

      .icontitle {
        .icon {
          svg {
            path {
              stroke: #0d9488;
            }
          }
        }
      }
    }

    &::-webkit-scrollbar {
      background: $white;
      width: 0;
    }

    &::-webkit-scrollbar-thumb {
      width: 0;
    }
  }

  .sidebar-mini-btn {
    .arricon {
      width: size(30);
      height: size(30);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline: auto;
      background-color: $white;
      border: 1px solid #e5e7eb;
      border-radius: 100%;
    }
  }

  &-footer {
    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      padding: size(0) size(16) size(24) size(16);

      .menu-list-link {
        background: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: size(8) size(12);
        height: 3.125rem;
        transition: all 500ms ease;

        color: #344054;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;

        &:not(.collapsed) {
          .arrowicon {
            transform: rotateX(180deg);
          }
        }

        &:hover {
          &:not(.active) {
            background: #f0fdfc;

            .linktitle {
              color: #0d9488;
            }

            .icon {
              svg {
                path {
                  fill: #0d9488;
                }
              }
            }

            .arrowicon {
              svg {
                path {
                  stroke: #0d9488;
                }
              }
            }
          }
        }

        .icontitle {
          display: flex;
          align-items: center;
          gap: 0.75rem;
        }

        .arrowicon {
          svg {
            path {
              stroke: #141b34;
            }
          }
        }
      }

      .menu-list-link.active {
        background: #f0fdfc;

        .linktitle {
          color: #0d9488;
        }

        .icon {
          svg {
            path {
              fill: #0d9488;
            }
          }
        }

        .arrowicon {
          svg {
            path {
              stroke: #0d9488;
            }
          }
        }

        .icontitle {
          .icon {
            svg {
              path {
                stroke: #0d9488;
              }
            }
          }
        }
      }
    }

    .user-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: size(24) size(24) size(32) size(24);
      border-top: 1px solid #e4e7ec;

      .user-image {
        width: size(40);
        height: size(40);
        @include radius(40);

        img {
          width: size(40);
          height: size(40);
          @include radius(40);
        }
      }

      .user-name {
        color: #101828;
        font-family: $primaryFont;
        font-size: size(14);
        font-weight: 600;
        line-height: size(20);
      }

      .user-email {
        color: #475467;
        font-family: $primaryFont;
        font-size: size(14);
        line-height: size(20);
      }

      .logout-icon {
        width: size(20);
        height: size(20);
        border: none;
        background: transparent;

        svg {
          width: size(20);
          height: size(20);
        }
      }
    }
  }
}

.sidebar-scroll {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    background: $white;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    width: 0;
  }
}

.menu-list {
  overflow-y: scroll;
  padding: 0 size(16);

  flex-grow: 1;

  .search-input {
    display: flex;
    gap: size(8);
    border: 1px solid #e5e7eb;
    padding: size(10) size(14);
    @include radius(8);

    svg {
      height: size(20);
      width: size(20);
      flex-shrink: 0;
    }

    input {
      width: 100%;
    }
  }

  .menu-list-link {
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include radius(6);
    padding: size(8) size(12);
    height: 3.125rem;
    transition: all 500ms ease;

    color: #344054;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    &:not(.collapsed) {
      .arrowicon {
        transform: rotateX(180deg);
      }
    }

    &:hover {
      &:not(.active) {
        background: #f0fdfc;

        .linktitle {
          color: #0d9488;
        }

        .icon {
          svg {
            path {
              fill: #0d9488;
            }
          }
        }

        .arrowicon {
          svg {
            path {
              stroke: #0d9488;
            }
          }
        }
      }
    }

    .icontitle {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      gap: 0.75rem;

      // .icon {
      //   svg {
      //     path {
      //       stroke: #141b34;
      //     }
      //   }
      // }
    }

    .arrowicon {
      svg {
        path {
          stroke: #141b34;
        }
      }
    }
  }

  .menu-list-link.active {
    background: #f0fdfc;

    .linktitle {
      color: #0d9488;
    }

    .icon {
      svg {
        path {
          fill: #0d9488;
        }
      }
    }

    .arrowicon {
      svg {
        path {
          stroke: #0d9488;
        }
      }
    }

    .icontitle {
      .icon {
        svg {
          path {
            stroke: #0d9488;
          }
        }
      }
    }
  }

  &::-webkit-scrollbar {
    background: $white;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    width: 0;
  }
}

.submenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-left: 0;

  .submenu-link {
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding-left: 48px;

    .icon {
      width: 1.125rem;
      height: 1.125rem;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        path {
          stroke: #141b34;
        }
      }
    }

    .text {
      color: #344054;
      font-family: $primaryFont;
      font-size: size(16);
      font-weight: 600;
      line-height: size(24);
    }

    &:hover {
      &:not(.active) {
        background-color: #f9fafb;
      }
    }
  }

  .submenu-link.active {
    background-color: #f9fafb;
  }
}

.sidebar.sidebar-mini {
  .brand-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    display: flex;
    align-items: center;
    background: $white;
    border-bottom: 0.0625rem solid #e3e4e8;
    position: sticky;
    top: 0;
    z-index: 100;

    .full-logo {
      display: none;
    }

    .whitelogo {
      display: none;
    }

    .mini-logo {
      display: block;
    }
  }

  .menu-list {
    .menu-list-link {
      .icontitle {
        .linktitle {
          display: none;
        }
      }

      .arrowicon {
        display: none;
      }

      justify-content: center;
    }

    .collapse {
      display: none;
    }
  }

  padding-top: 0 !important;

  .sidebar-mini-btn {
    .arricon {
      transform: rotate(180deg);
    }
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.linktitle {
  color: #141b34;
}

.switchlabel {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    content: "";
    width: 75px;
    height: 42px;
    background: #ccc;
    display: inline-block;
    border-radius: 46px;
    box-sizing: border-box;
    transition: 0.2s ease-in;
  }

  &::after {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    left: 2px;
    top: 2px;
    z-index: 2;
    background: #fff;
    box-sizing: border-box;
    transition: 0.2s ease-in;
  }
}

.btn-solar {
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;

  .icontext {
    display: flex;
    align-items: center;
    gap: 0.625rem;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    .text {
      color: #141b34;
      font-size: 0.875rem;
      font-weight: 600;
    }
  }

  .arrowicon {
    margin-top: 0.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}

.btn-change {
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: underline;

  &:hover {
    color: #ff645a;
  }
}

.chattitle {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

@media screen and (min-width: 62rem) {
  .btn-solar {
    .icontext {
      .text {
        font-size: 1rem;
      }
    }
  }
}

.main-content {
  background-color: $white;

  .page-header {
    padding: size(32) size(68) 0 size(68);

    .page-title {
      color: #101828;
      font-family: $primaryFont;
      font-size: size(20);
      font-weight: 700;
      line-height: size(28);
    }

    .page-text {
      color: #475467;
      font-family: $primaryFont;
      font-size: size(14);
      line-height: size(20);
    }
  }

  .sales-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint(mobile768) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(desktop1200) {
      grid-template-columns: repeat(3, 1fr);
    }

    padding: size(32) size(68) 0 size(68);
    gap: size(24);

    &-cart {
      display: flex;
      flex-direction: column;
      gap: size(24);
      padding: 24px;
      border-radius: 14px;
      border: 1px solid #e4e7ec;
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

      .top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          color: #101828;
          font-family: Inter;
          font-size: size(16);
          font-weight: 600;
          line-height: size(24);
        }

        .three-dots-icon {
          width: size(20);
          height: size(20);
        }
      }

      .bottom-content {
        display: flex;
        justify-content: space-between;
        align-items: end;

        &-text {
          display: flex;
          flex-direction: column;
          gap: size(16);

          .number {
            color: #101828;
            font-family: $primaryFont;
            font-size: size(36);
            font-weight: 600;
            line-height: size(44);
            letter-spacing: -0.72px;
          }

          .increase-inner {
            display: flex;
            align-items: center;
            gap: size(4);

            .increase-icon {
              width: size(20);
              height: size(20);

              svg {
                width: size(20);
                height: size(20);
              }
            }

            .increase-text {
              color: #475467;
              font-family: $primaryFont;
              font-size: size(14);
              font-weight: 500;
              line-height: size(20);
              margin-top: size(5);

              .increase {
                color: #027a48;
                display: inline-block;
                margin-right: size(8);
              }
            }
          }
        }

        .increase-graph {
          width: size(96);
          // height: 48px;
          margin-right: size(10);
        }
      }
    }
  }

  .dashboard-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint(mobile576) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(mobile768) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(tab992) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint(desktop1200) {
      grid-template-columns: repeat(5, 1fr);
    }

    gap: size(16);
    padding: size(40) size(68);

    .dashboard-cart {
      padding: size(24);
      @include radius(12);
      border: 1px solid #e4e7ec;
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      display: flex;
      flex-direction: column;
      gap: size(12);

      &-title {
        color: #101828;
        font-family: $primaryFont;
        font-size: size(16);
        font-weight: 600;
        line-height: size(24);
      }

      &-number {
        color: #101828;
        font-family: $primaryFont;
        font-size: size(36);
        font-weight: 600;
        line-height: size(44);
        letter-spacing: -0.72px;
        // width: size(130);
      }

      &-increase {
        display: flex;
        align-items: center;
        gap: size(4);

        svg {
          width: size(20);
          height: size(20);
        }

        p {
          color: #027a48;
          font-family: $primaryFont;
          font-size: size(14);
          font-weight: 500;
          line-height: size(20);
        }
      }

      &-decrease {
        display: flex;
        align-items: center;
        gap: size(4);

        svg {
          width: size(20);
          height: size(20);
        }

        p {
          color: #b42318;
          font-family: $primaryFont;
          font-size: size(14);
          font-weight: 500;
          line-height: size(20);
        }
      }
    }
  }

  .notification-inner {
    display: flex;
    flex-direction: column;
    gap: size(8);
    background-color: #fafafa;
    padding: size(40) size(68);

    &-cart {
      display: flex;
      justify-content: space-between;
      border-radius: var(--radius-xl, 12px);
      border: 1px solid #e4e7ec;
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      padding: size(16);

      .success-img {
        width: size(35);
        height: size(35);
        @include radius(35);

        img {
          width: size(35);
          height: size(35);
          @include radius(35);
        }
      }

      .cart-content {
        .title {
          color: #344054;
          font-family: $primaryFont;
          font-size: size(16);
          font-weight: 600;
          line-height: size(24);

          .success {
            color: #0d9488;
          }

          .canceled {
            color: #ff3e50;
          }
        }

        .details {
          color: #475467;
          font-family: $primaryFont;
          font-size: size(14);
          line-height: size(20);
        }

        .dsismiss-btn {
          color: #475467;
          font-family: $primaryFont;
          font-size: size(14);
          font-weight: 600;
          line-height: size(20);
        }

        .viewChanges-btn {
          color: #0d9488;
          font-family: $primaryFont;
          font-size: size(14);
          font-weight: 600;
          line-height: size(20);
        }
      }

      &-right {
        display: flex;
        flex-direction: column;
        gap: size(40);

        .close-btn {
          cursor: pointer;
          border: none;
          background: transparent;
          align-self: flex-end;

          svg {
            width: size(12);
            height: size(12);
          }
        }

        .date-icon {
          svg {
            width: size(14);
            height: size(14);
          }
        }

        .notification-time {
          color: #6b7280;
          text-align: right;
          font-family: $primaryFont;
          font-size: size(12);
          font-weight: 500;
          line-height: size(16);
          margin-top: size(2);
        }
      }
    }
  }
}