@use "../global" as *;
@use "../partials" as *;

.inner-content {
  padding: size(0) size(10);

  @include breakpoint(mobile576) {
    padding: size(0) size(30);
  }

  @include breakpoint(mobile768) {
    padding: size(0) size(68);
  }
}

.page-top-section {
  padding: size(20) size(0);
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: size(10);
    .search-form {
      display: flex;
      align-items: center;
      gap: size(8);
      padding: size(10) size(14);
      @include radius(8);
      border: size(1) solid #d0d5dd;
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      .search-svg {
        svg {
          width: size(20);
          height: size(20);
        }
      }
      .page-search-input {
        &::placeholder {
          color: #667085;
          font-family: $primaryFont;
          font-size: size(16);
          line-height: size(24);
        }
      }
    }

    .notification-svg {
      svg {
        width: size(24);
        height: size(24);
      }
    }
    .notification-svg.active {
      svg {
        path{
          fill: #0f766d;
        }
      }
    }
  }
}

.manage-product-section {
  padding: size(16) size(0) size(0) size(0);
  &-header {
    padding: size(0) size(0) size(50) size(0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: size(20);
    flex-wrap: wrap;

    @include breakpoint(mobile576) {
      flex-wrap: nowrap;
    }
    .heading-text {
      color: #101828;
      font-family: $primaryFont;
      font-size: size(20);
      font-weight: 700;
      line-height: size(28);
    }
    .import-btn {
      display: flex;
      padding: size(10) size(16);
      justify-content: center;
      align-items: center;
      gap: size(8);
      @include radius(8);
      border: 1px solid #d0d5dd;
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      color: #344054;
      font-family: $primaryFont;
      font-size: size(14);
      font-weight: 600;
      line-height: size(20);
      transition: all 0.35s ease-in-out;
      svg {
        width: size(20);
        height: size(20);
      }
      &:hover {
        background-color: #e9e8e8;
      }
    }

    .add-product-btn {
      display: flex;
      padding: size(10) size(16);
      justify-content: center;
      align-items: center;
      gap: size(8);
      @include radius(8);
      background: #0f766d;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      color: #fff;
      font-family: $primaryFont;
      font-size: size(14);
      font-weight: 600;
      line-height: size(20);
      transition: all 0.35s ease-in-out;
      svg {
        width: size(20);
        height: size(20);
      }
      &:hover {
        background-color: #0a504a;
      }
    }
  }
  .all-buttons-inner {
    overflow-x: scroll;

    @include breakpoint(desktop1100) {
      // scrollbar hide
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    padding: size(10);
    .manage-products-btn {
      display: flex;
      padding: size(8) size(12);
      align-items: center;
      gap: size(8);
      @include radius(8);
      background: transparent;
      color: #6b7280;
      font-family: $primaryFont;
      font-size: size(14);
      font-weight: 500;
      line-height: size(20);
      letter-spacing: 0.07px;
      border: none;
      transition: all 0.35s ease-in-out;
      span {
        display: flex;
        padding: size(1) size(5);
        align-items: center;
        border-radius: size(99999);
        border: 1px solid #e5e7eb;
        background: #e4e5e9;

        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
        color: #1f2937;

        font-family: $primaryFont;
        font-size: size(10);
        font-weight: 500;
        line-height: size(16);
        letter-spacing: 0.05px;
        transition: all 0.35s ease-in-out;
      }

      &:hover {
        background: #0f766d;
        color: #fff;
        span {
          background: #fff;
        }
      }
    }
    .manage-products-btn.active {
      background: #0f766d;
      color: #fff;
      span {
        background: #fff;
      }
    }
  }
}

.manage-all-product-section {
  margin-top: size(24);
  @include radius(16);
  border: 1px solid #e5e7eb;
  background: #fff;
  margin-bottom: 40px;
  &-inner {
    margin-bottom: size(10);
    &-header {
      padding: size(18);
      border-bottom: 1px solid #e5e7eb;
      display: flex;
      justify-content: space-between;
      gap: size(20);
      flex-direction: column;
      @include breakpoint(mobile768) {
        flex-direction: row;
      }
      .all-products-form {
        display: flex;
        align-items: center;
        gap: size(8);
        padding: size(10) size(14);
        @include radius(8);
        border: size(1) solid #d0d5dd;
        background: #fff;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        .search-svg {
          flex-shrink: 0;
          svg {
            width: size(20);
            height: size(20);
          }
        }
        .page-search-input {
          width: 100%;
          &::placeholder {
            color: #667085;
            font-family: $primaryFont;
            font-size: size(16);
            line-height: size(24);
          }
          @include breakpoint(tab992) {
            width: size(128);
          }
          @include breakpoint(desktop1169) {
            width: 100%;
          }
        }
      }
    }
    &-body {
      .table-container {
        width: 100%;
        overflow: auto;
      }

      .product-table {
        width: 100%;
        border-collapse: collapse;
        background-color: #ffffff;
        thead {
          border-bottom: 1px solid #e5e7eb;
          background: linear-gradient(180deg, #fff 0%, #f0f0f0 100%);
          position: sticky;
          top: 0;
          z-index: 1;
        }
        th {
          padding: 15px;
          text-align: left;
          color: #6b7280;
          font-family: $primaryFont;
          font-size: size(12);
          font-weight: 600;
          line-height: size(16);
          letter-spacing: 0.06px;
          text-transform: uppercase;
        }
        td {
          padding: 15px;
          text-align: left;
          &:last-child {
            border-bottom: none;
          }
        }
        tr {
          border-bottom: 1px solid #dddddd;
          &:last-child {
            border-bottom: none;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
          }
        }
      }
      .product-info-header {
        width: 370px;
      }
      .product-info-inner {
        width: 370px;
        .product-info {
          display: flex;
          align-items: center;
          gap: size(8);

          .product-image {
            width: 74px;
            height: 60px;
            @include radius(8);
          }

          .product-details {
            .title {
              width: 214px;
              color: var(--Text-Title-Color, #1f2937);
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 18px; /* 128.571% */
            }
            .buy-product,
            .see-product {
              svg {
                width: size(14);
                height: size(14);
              }
              p {
                color: #0f766d;
                font-family: $primaryFont;
                font-size: size(12);
                font-weight: 500;
                line-height: size(16);
              }
            }
          }
        }
      }

      .pice-text {
        color: #1f2937;
        font-family: $primaryFont;
        font-size: size(14);
        font-weight: 600;
        line-height: size(20);
        letter-spacing: 0.07px;
      }

      .delete-btn,
      .edit-btn {
        display: flex;
        padding: size(4);
        align-items: center;
        @include radius(6);
        border: 1px solid #d0d5dd;
        background: #f9fafb;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        svg {
          width: 12px;
          height: 12px;
          flex-shrink: 0;
        }
      }

      .action-btn {
        svg {
          width: 5px;
          height: 21px;
        }
      }

      .status {
        padding: 3px 10px;
        border-radius: 999px;
        color: #fff;
        font-family: Inter;
        font-size: size(10);
        font-weight: 500;
        line-height: size(16);
        letter-spacing: 0.05px;
      }

      .active {
        background-color: #2563eb;
      }

      .inactive {
        background-color: #f9851a;
      }

      .draft {
        background-color: #9ca3af;
      }

      .pending {
        background-color: #eab308;
      }

      .violation {
        background-color: #ff3e50;
      }
    }
  }
}

.pagination-section {
  margin-bottom: size(40);
  &-inner {
    display: flex;
    justify-content: space-between;
    gap: size(10);
    .left {
      .text {
        color: var(--Text-Secondary-Text-Color, #6b7280);

        /* XS/Medium */
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 133.333% */
        letter-spacing: 0.06px;
      }
    }
    .right {
      .pagination-nav {
        &-link {
          padding: size(5) size(12);
          @include radius(8);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
          color: #6b7280;
          text-align: center;
          font-family: $primaryFont;
          font-size: size(16);
          font-weight: 500;
          line-height: size(24);
          letter-spacing: 0.08px;
          transition: all 0.35s ease-in-out;
          &:hover {
            background: #e5e7eb;
          }
        }

        &-link.previous,
        &-link.next {
          border: 1px solid #e5e7eb;
          background: #fff;
          transition: all 0.35s ease-in-out;
          &:hover {
            background: #e5e7eb;
          }
        }
      }
    }
  }
}
